    </main>
    <footer class="site-footer">
      <span>db.callsphere.tech</span>
      <span>Secured console for PostgreSQL clusters</span>
    </footer>
  </div>
  <script src="/app.js"></script>
</body>
</html>
